# Definitions
#

#!define PINGER     "sip:pinger@79.137.213.141"
#!define DBURL      "mysql://kamailio:kamailiorw@localhost/kamailio"
#!define SQLOPSDB "ca=>mysql://kamailio:kamailiorw@localhost/kamailio"

#!define MAXEXPIRES 300

#!define REGCONTADDR "79.137.213.141:5060"
#!define FLAG_TO_PROVIDER 2

#!define HOSTNAME "<sip:proxy@192.168.30.110>"
#!define GATEWAYS_SET 1
#!define FLAG_INTERNALLY_SOURCED  1
