#!KAMAILIO

include_file "includes/globals.cfg"
include_file "includes/network.cfg"
include_file "includes/defines.cfg"
include_file "includes/modules.cfg"
include_file "includes/main.cfg"
include_file "includes/custom.cfg"

